{% if products %}
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 md:gap-6" id="flatProductsGrid">
        {% for product in products %}
            {% include 'frontend/layouts/product_card.html' %}
        {% endfor %}
    </div>
{% else %}
    <div class="text-center py-20 border border-zinc-200 dark:border-zinc-800 bg-white dark:bg-zinc-900 mt-8 rounded-none animate-fade-in" id="emptyProductsGrid">
        <p class="text-zinc-550 text-sm font-bold uppercase tracking-widest">{{ _('no_products') }}</p>
    </div>
{% endif %}